@import "tailwindcss";

@layer utilities {

    /* Custom Scrollbar */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(110, 231, 183, 0.8);
        /* emerald-300 / 80% */
        border-radius: 9999px;
        backdrop-filter: blur(4px);
        transition: background-color 200ms;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #10b981;
        /* emerald-500 */
    }

    /* Firefox */
    html {
        scrollbar-width: thin;
        scrollbar-color: rgba(110, 231, 183, 0.8) transparent;
    }
}